.date-range-selected > .ui-state-active,
.date-range-selected > .ui-state-default {
	background: none;
	background-color: #B0C4DE;
}

.date-range-selected > .ui-state-highlight {
	background: none;
	background-color: #C9DAEF;
}
